@import '../../../styles//vars.scss';
@import '../../../styles/mixins.scss';

.titleWrapper {
  margin-bottom: 8rem;

  text-transform: uppercase;
  text-align: center;

  @include bp($tablet_max - 1) {
    margin-bottom: 4rem;
  }
}

.title {
  font-size: 3rem;
  font-weight: 600;
  color: $blue;

  @include bp($tablet_max - 1) {
    font-size: 2.4rem;
  }
}

.subtitle {
  display: block;
  max-width: 70%;
  margin: 0 auto;

  font-size: 2rem;
  text-transform: lowercase;
}
