$pink: #cc475c;
$pink_2: #f4cbd8;
$blue: #348a9b;
$black: #454545;
$white: #fff;
$green: #003941;
$beige: #fdf3f3;
$beige_2: #fefdfd;
$orange: #f3e2e1;

$section-gradient: linear-gradient(
  45deg,
  rgba(255, 245, 254, 1) 0%,
  rgba(255, 249, 249, 1) 50%,
  rgba(255, 245, 254, 1) 100%
);

$desktop_xl: 1920px;
$desktop: 1441px;
$tablet_max: 1024px;
$tablet_min: 768px;
$mobile: 375px;
