@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.footer {
  display: flex;
  align-items: center;

  background: $beige_2;
  border-top: 1px solid $blue;

  @include bp($tablet_max, min) {
    padding: 4rem 10rem;
  }

  @include bp($tablet_max - 1) {
    padding: 4rem;
  }
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;

  @include bp($tablet_max - 1) {
    flex-direction: column;
    gap: 4rem;
  }
}

.logoWrapper {
  position: relative;
  display: block;
  width: 22rem;
  height: 8rem;
}

.policy {
  text-align: center;

  @include bp($tablet_max - 1) {
    margin-top: 4rem;
  }
}

.link {
  display: inline-block;
  margin-left: 1rem;
  color: inherit;
  text-decoration: underline;

  transition: color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: $green;
  }
}
